.primary-color{
    background-color: #141718;
}

.secondary-color{
    background-color: #232627;
}

.flex{
    display: flex;
}

.invert{
    filter: invert();
}

.bold-head{
    font-weight: 600;
}

.subhead{
    font-weight: 100;
}

